body {
    margin: 0px;
    padding: 0px;
}

.topbar-container {
    width: 100%;
    height: 13vh;
    float: left;
}

.sidebar-container {
    width: 20%;
    height: 100vh;
    background-color: #2F3136;
    float: left;
}

.topbar-separater {
    background-color: #2B2D32;
    width: 100%;
    height: 2px;
    float: left;
    margin-top: 13vh;
}
.sidebar-separater {
    background-color: #2B2D32;
    height: 90vh;
    width: 2px;
    float: left;
    margin-left: 100%;
}

.main-container {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #36393F;
}
.board-container {
    width: 80%;
    height: 90vh;
    float: left;
}

button.hide-side {
    border-radius: 0px 0px 17px 0px;
    background: #2F3136;
    border: 0px;
    width: 56px;
    height: 40px;
    border-bottom: 2px solid #2B2D32;
    border-right: 2px solid #2B2D32;
    font-size: 20px;
    
}
