body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.topbar-container {
    width: 100%;
    height: 13vh;
    float: left;
}

.sidebar-container {
    width: 20%;
    height: 100vh;
    background-color: #2F3136;
    float: left;
}

.topbar-separater {
    background-color: #2B2D32;
    width: 100%;
    height: 2px;
    float: left;
}

.sidebar-separater {
    background-color: #2B2D32;
    height: 90vh;
    width: 2px;
    float: left;
    margin-left: 100%;
}

.main-container {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #36393F;
}

.board-container {
    width: 80%;
    height: 90vh;
    float: left;
    background-color: #87CDEF;
    background-image: url("images/backgrounds/veld1.png");
}

button.hide-side {
    display: none;
    border-radius: 0px 0px 17px 0px;
    background: #2F3136;
    border: 0px;
    width: 56px;
    height: 40px;
    border-bottom: 2px solid #2B2D32;
    border-right: 2px solid #2B2D32;
    font-size: 20px;
}


.ExportButton {
    width: 200px;
    height: 50px;
    border-radius: 35px;
    font-weight: bold;
    color: white;
    background: #7289DA;
    display: block;
    margin: 3% auto;
}

.export-container {
    height: 5vh;
    width: 100%;
}

.category-container {
    width: 100%;
    height: 78vh;
}

.category-list {
    width: 89%;
    border: 2px solid #2B2D32;
    border-radius: 12px;
    height: 77vh;
    display: block;
    margin: 0 auto;
    background-color: #36393F;
    margin-top: 10px;
}

.export-button-container {
    width: 100%;
    position: relative;
    height: 10vh;
    bottom: 0;
}

.images {
    width: 246px;
    height: 100px;
}

.category-list {
    width: 89%;
    border: 2px solid #2B2D32;
    border-radius: 12px;
    height: 77vh;
    display: block;
    margin: 0 auto;
    background-color: #36393F;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.category-list::-webkit-scrollbar {
    display: none;
}


.boardsettings-container-inner {
    width: 100%;
    height: 100%;
}

.boardsettings-container {
    height: 100%;
    width: 20%;
}

select.background-combobox {
    width: 100%;
    background: #36393F;
    height: 35px;
    border: solid 3px;
    color: lightgray;
    font-weight: bold;
}

.background-combobox {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 4px;
    background: #36393F;
    border-radius: 13px;
}